USE [master]
GO
/****** Object:  Database [usuarios_api]    Script Date: 1/11/2024 6:51:50 p. m. ******/
CREATE DATABASE [usuarios_api]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'usuarios_api', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\usuarios_api.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'usuarios_api_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\usuarios_api_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [usuarios_api].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [usuarios_api]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 1/11/2024 6:51:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[UUID] [uniqueidentifier] NOT NULL,
	[NAME_FIELD] [varchar](256) NULL,
	[EMAIL] [varchar](256) NULL,
	[PASSWORD_FIELD] [varchar](256) NULL,
	[NUMBER] [int] NULL,
	[CITY_CODE] [int] NULL,
	[COUNTRY_CODE] [int] NULL,
	[CREATED] [datetime] NULL,
	[MODIFIED] [datetime] NULL,
	[LAST_LOGIN] [datetime] NULL,
	[ISACTIVE] [nchar](3) NULL,
	[JWT_TOKEN] [varchar](max) NULL
PRIMARY KEY CLUSTERED 
(
	[UUID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT (newid()) FOR [UUID]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_CREATED]  DEFAULT (getdate()) FOR [CREATED]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_LAST_LOGIN]  DEFAULT (getdate()) FOR [LAST_LOGIN]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  CONSTRAINT [DF_USUARIOS_ISACTIVE]  DEFAULT (N'Yes') FOR [ISACTIVE]
GO
USE [master]
GO
USE usuarios_api
GO
INSERT INTO [dbo].USUARIOS
           ([NAME_FIELD]
           ,[EMAIL]
           ,[PASSWORD_FIELD]
           ,[NUMBER]
           ,[CITY_CODE]
           ,[COUNTRY_CODE])
     VALUES
           ('xavier vasquez'
           ,'admin@admin.org'
           , '123'
           ,587125454
           ,10
           ,41)
GO
